.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
  min-height: 100vh;
  width:100%
}

.header{
 /* background-color: rgba(0,0,0,.7);*/
 background-color: rgb(214, 219, 220,.3);
  padding: 2%;
  display: flex;
  flex-direction:row;
  justify-content:space-between;
}
.aboutParagraph{
  padding:2%;
  color: #FAF9F6;
  text-shadow: 0 0 8px #5FAEBF;
  font-family:Copperplate Gothic;
}
@media screen and (min-width: 768px) {
  .aboutParagraph{
    text-shadow: 0 0 20px rgb(0,0,0);
  }
}
@media screen and (min-width: 1280px) {
  .aboutParagraph{
    font-size: 1.4em
  }
}
@media screen and (min-width:1024px) {
  .header{
    padding:1%
  }
}
.footer{
  background-color:rgba(0,0,0,.7);
  padding: 2%;
  display:flex;
  flex-direction:row;
  justify-content:space-between;
}
.footerSpan{
  color:white;
  text-shadow:0 0 11px #5FAEBF;
  font-family:Copperplate Gothic;
}
.socialsDiv{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  color:white;
  text-shadow:0 0 11px #5FAEBF;
  width:30%;
}

.imgDiv{
  width: 100%;
  height: 70vh;
  position: relative;
}
.nextImg{
  width:100%;
 height:100%;
}
.aboutImgDiv1{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  width:100%;
}

@media screen and (min-width:540px) {
  .aboutImgDiv1{
    width: 50%;
    flex-direction:row;
  }
}
@media screen and (min-width:1024px) {
  .aboutImgDiv1{
    width: 50%;
  }
}

@media screen and (min-width:375px) {
  .imgDiv{
    height:60vh
  }
}
@media screen and (min-width:540px) {
  .imgDiv{
    height: 75vh;
  }
}
@media screen and (min-width:600px) {
  .imgDiv{
    height: 40vh;
  }
}
@media screen and (min-width:1024px) {
  .imgDiv{
    height: 75vh;
  }
}
@media screen and (min-width:1280px) {
  .imgDiv{
    height: 55vh;
  }
}
@media screen and (min-width:1920px) {
  .imgDiv{
    height: 50vh;
  }
}


.logoDiv{
  height:13vh;
  width:30%;
  position: relative;
}

@media screen and (min-width:540px) {
  .logoDiv{
    width:20%;
  }
}
@media screen and (min-width:1024px) {
  .logoDiv{
    width:13%;
    height:20vh;
  }
}

.heroSection{
width: 100%;

}
.aboutSection{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding: 4%;
  padding-bottom:auto;
  box-shadow: 0 0 15px #5FAEBF;
  height:auto;
}
@media screen and (min-width:1024px){
  .aboutSection{
    width:95%;
  }
}
.aboutOuterSec{
  padding: 1rem;
  height:auto;
}
@media screen and (min-width:1024px){
  .aboutOuterSec{
    display:flex;
    flex-direction:column;
    padding: 3rem;
    align-items:center;
  }
}

.productSection{
 /* background-color: rgb(255, 255, 255);*/
 background-color: rgb(214, 219, 220);
  padding: 3%;
  box-shadow: 0 0 8px #5FAEBF;
}

.productSecH1{
  text-align: center;
  margin-bottom: 3%;
  text-shadow:  0 0 11px #5FAEBF;
}
.aboutSecH1{
  font-size: 2em;
  text-align: center;
  margin-top: 3%;
  text-shadow:  0 0 20px #5FAEBF;
  color: white;
  font-family:Copperplate Gothic;
}
@media screen and (min-width:768px){
  .aboutSecH1{
    font-size: 3em;
  }
}
@media screen and (min-width:1280px){
  .aboutSecH1{
    margin-top:1%;
    font-size: 4em;
  }
}
.brandDiv{
  width: 50%;
 display:flex;
 flex-direction:column;
 justify-content:space-between;
 margin-left: 25%;
 padding: 3%;
}
.regImg{
  margin-top: 10%
}
/*react player stuff*/
.playerWrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.reactPlayer {
  position: absolute;
  top: 0;
  left: 0;
}
.brandSectionAbt{
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  margin-bottom:1rem;
  align-items:center;
  margin-top: 2rem;
  width:100%;

}
.aboutImgDiv{
  width:30%;
  height:3%;
  display:flex;
  flex-direction:row;
  justify-content:center;
}
/*rgb(0, 119, 255) #1976d2 */