.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  min-height: 100vh;
  width:100%
}

.header{
  background-color: rgba(0,0,0,.7);
  padding: 2%;
}
.footer{
  background-color:rgba(0,0,0,.7);
  padding: 2%;
}

.imgDiv{
  width: 100%;
  height: 24vh;
  position: relative;
}
